.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    background-color: #fefae0;
    position: fixed;
    top: 30%;
    bottom: 30%;
    margin: auto;
    padding: 10px;
    width: 15%;
    height: 45%;
    color: #012001;
    border: 3px solid #012001;
    border-radius: 5px;
    font-family: 'Raleway';
    pointer-events: auto;
    cursor:default;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 100;
        background-color: white;
}
.imgContainer{
    display: flex;

    
    margin: auto;
    padding-top: 10%;
    padding-right: 6%;
    align-items: center;
    
    flex:2;
}
.descContainer{
    display: flex;
    flex-direction: column;
    
    flex: 2;
}
.name{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin: auto;
    flex: 4;
    align-items: flex-start;
    width: fit-content;
    padding:0;
    background-color: lightblue;
}
#quantity{
    font-size: 13px;
    padding-bottom: 2%;
    display: block;
    padding:0;
    margin: 0;
  
}
#itemName{
    font-size: 30px;
   display: block;
    padding:0;
    margin: 0;
    
}

.price{
    display: flex;
    
    font-size: 20px;
}
.amountContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 3;
   padding-top: 10%;
   padding-bottom: 10%;
    align-items: center;
    gap: 6rem;
}
.amountBox{
    display: flex;
    flex-direction: row;
 
    border: #012001 2px solid ;
    border-radius: 20px;
    height: 100%;
    width: fit-content;
    margin: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.amountButton{ 
    display: flex;
    
    align-content: center;
}
.amountButton :hover{
    cursor: pointer;
}
.amountBox span{
    display: flex;
    flex: 1;
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    color: #012001;
}
.amountButton button{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    
}
.amountButton button span{
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #012001;
    font-size: 25px;
    
    
}
.add{
    display: flex;
    flex-direction: row;
    
    flex:1;
    justify-content: center;
    padding-bottom: 10%;
}
.add button{
    width: 100%;
    height: 100%;
    border: 2px solid #012001;
    color: #012001e0;
    background-color: white;
    border-radius: 50px;
    font-family: 'Raleway';
    font-size: 20px;
    
    margin-bottom: 1px;
}
.add :hover{
    

     color: #fefae0;
    background-color: #012001;
}
.image{
    margin-left: 10%;
    margin-top: 0%;
    
}
.image img{
   height: auto;
    width: 100%;
    max-width:200px ;
    
}
.name{
    gap: 3rem;
}
.name span{
    font-size: 30px;
    
}
.closeButton{
   position: absolute;
   top: 10px;
   right: 10px;
   
    
    border: none;
    background-color: white;
    color: #012001;
    font-size: x-large;
    font-weight: 600;
}
.favouriteButton{
    border: none;
    background-color: #fefae0;

}
.favouriteButton span{
    
    color: #012001;
}