/*PRODUCTS STYLES*/
@media (max-width: 1920px){
.mainContainerProducts{
    background-color: #07644B;
    font-family: 'Raleway' sans-serif;
    user-select: none;
}
.pageTitle {
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 3%;
}
.pageTitle button{
    border: none;
    background-color: transparent;
    font-size: xx-large;
    font-family: 'Raleway';
    color: white;
}
.pageTitle :hover{
    cursor: pointer;
}
.nav :hover{
    cursor: pointer;
}
.dividerContainer{
    display: flex;
    flex-direction: row;
}
.searchBarContainer{
    width:20%;
    height:800px;
    margin-left:1%;
    padding-left:1%;
    margin-top:0px;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.searchBarContainer button{
    background-color:white;
    border: 2px solid #012001;
    border-radius: 10px;
    width:30%;
    color: #012001;
    font-family: 'Raleway' sans-serif;
    display: flex;
    font-size: 18px;
    
    
}
.searchFilter  :hover{
    cursor: pointer;
}
.searchFilter :hover{
    background-color: #012001;
    color: #fefae0;
    
}
.searchBar{
    
    flex-direction: row;
    border-width: 1px;
    
    width:100%;
    display: flex;
    height:100%;
    font-size: 20px;
    justify-content: center;
    z-index:100;
    
}
.searchBar input{
    flex:0.5;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway';
    font-size: 20px;
}

.searchFilter button{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.productsContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin:auto;
    display: flex;
    width:80%;
    z-index: 50;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 1rem;
    justify-content: center;
    
}
.productImg{
    height: auto;
    width: 100%;
    max-width:200px ;
}
.productImg img{
         
  
  
    width: 100%;
    max-width: 200px;
    max-height: 180px;
    height:auto;
    display: block;
    object-fit: contain;
    box-sizing: border-box;
    
}

.productDesc{
    display: flex;
    margin-top:auto;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    width: 100%;
    
    padding-bottom: 5%;
}
.productDesc h1{
    font-family: 'Raleway' ;
    font-size: 20px;
    color: #012001;
    background-color:white;
}

.productDesc p{
    display: flex;
    font-family: 'Raleway' sans-serif;
    font-size: 15px;
    margin: auto;
    color: #012001;
}
.productIndiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    background-color: white;
    border-style: none;
    height: 300px;
    width: 300px;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
   
   border-radius: 5px;
    padding: 0;
}
.products :hover{
    cursor:pointer
}
.topButton{
    z-index: 1000;
    position: fixed;
    bottom:5%;
    left:65%;
    background-color: #fefae0;
    
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 50px;
    border:2px #012001 solid ;
}
.topButton img{
    width:20px;
    height: 20px;
}
.cartButton{
    position: fixed;
    top: 5%;
    right:5%;
    background-color:#fefae0;
    font-size: 20px;
    border: none;
    background: none;
    color: #012001;
    font-family: 'Raleway', sans-serif;
    z-index: 1000;
}
.cartButton :hover{
    cursor: pointer;
}

.listContainer{
    
    width:20%;
    height:100%;
    transition: right 0.5s ease-in-out;
    background-color: #fefae0;
    display: flex;
    position: fixed;
    right:-100%;
    top:0;
    align-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Raleway' sans-serif;
    font-weight: 500;
    border: #07644B solid 5px;
    box-shadow:-10px 0px 20px black  ;
    z-index:9000
}
.listContainer.open{
    right: 0;
}
.listHeader{
    background-color: #07644B;
    color: #fefae0;
    font-size: 20px;
    height: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
}
.list li{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    min-height: 120px;
    border-bottom: 1px solid #012001;
}
.namePrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.listItemName{
    display: flex;
    flex: 4;
    
    
}
.itemPrice{
    display: flex;
    flex: 1;
}
.amountBox{
    display: flex;
    flex-direction: row;
    border: 1px solid #012001;
    border-radius: 30px;
    width:30%;
    justify-content: center;
    align-items: center;
}
.amountButton{ 
    display: flex;
    
    align-content: center;
}
.amountButton :hover{
    cursor: pointer;
}
.amountBox span{
    display: flex;
    flex: 0.5;
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}
.amountButton button{
    height: 25px;
    width: 25px;
    background-color: #fefae0;
    border: none;
    border-radius: 50%;
    display: flex;
    
}
.amountButton button span{
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #07644B;
    font-size: 25px;
    
    
}
.removeButton{
    display: flex;
    
}
.removeButton :hover{
    cursor: pointer
}
.overlayBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);   
    z-index: 80;
}
.removeButton span{
    font-size: large;
}
.removeButton button{
    border: none;
    background-color: #fefae0;
}
.amountRemove{
    display: flex;
    flex-direction: row;
    height: 40%;
   
}

.listInfo{
    background-color: #07644B;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    border-top: 5px #fefae0 solid;
    
}

.totalPrice{
    display: flex;
    flex: 1;
    flex-direction: row;
    color:#fefae0;
    font-family: 'Raleway' sans-serif;
    font-size: 15px;
}
.totalPrice p{
    display: flex;
    flex: 1;
}
.listButtons{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
#checkoutButton{
    border: none;
    border:1px solid #012001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-family: 'Raleway' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #012001;
    border-radius: 30px;
}
#clearButton{
    display: flex;
    border: none;
    border:1px solid #012001;
    background-color: #fefae0;
    justify-content: center;
    flex: 1;
    font-family: 'Raleway' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #012001;
    border-radius: 20px;
}
.menuButtonProducts{
    position: fixed;
    top: 3.5%;
    left: 5%;
    z-index: 999;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}

}
@media (max-width: 400px) {
    .pageTitle{
        font-size: large;
        line-height: 70px;
    }
    .menuButtonProducts{
        font-size: 15px;
    }
    .dividerContainer{
        display: flex;
        flex-direction: column;
    }
    .searchBarContainer{
        position: static;
        display: none;
    }
    .productsContainer{
        margin: auto;
    }
    .listContainer{
        display: none;
    }
    .searchBar{
        width: 100%;
    }
  .productImg {
    max-width: 100px;
  }
  .productIndiv{
    max-height: 150px;
    max-width: 150px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 1rem;
    justify-content: center;
    place-items: center;
}
   .searchBar {
    justify-content: center; 
    width: 100%;              
    padding: 0 10px;     
    margin-left:0;      
  }

  .searchBar input {
    width: 80%;               
  }
}
