

/*NAVBAR STYLES*/
.navBar{
    background-color: #012001;
    top:0;
    width:100%;
    position:fixed ;
    display: flex;
    justify-content: center;
    
    
}
.navItems{
    display: inline-flex;
    flex-direction: row;
    gap:6rem;
    
    
}
.navItems li{
    list-style: none;
    text-decoration: none;
    color: #95C5AB;
}
.navItems li a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    text-align: center;
    color: #95C5AB;
    
}

/*   HOMEPAGE STYLES*/


.mainContainer{
    
    background-color: white;
}

.homepageContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.slideShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#32746D ;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
.shopQuick{
    display: flex;
    flex-direction: column;
    padding-left:10% ;
    padding-right:10% ;
}

.shopQuick button{
    display: flex;
    justify-content: center;
    background-color: rgb(16, 90, 16);
    border-radius: 20px;
    height:50px;
    
    
}
.shopQuick button span{
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif ;
    
}
.shopQuick span{
    display: flex;
    justify-content: center;
    color: white;
    
}

.footerContainer{
    height: 200px;
    background-color: #012001;
}
/*MY PROFILE STYLES*/

.profileContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.signInStatus{
    justify-content: center;
    display: flex;
    color: white;
    font-size: xx-large;
}
.signUp{
     justify-content: center;
    display: flex;
    color: white;
    font-size: xx-large;
}
/*SIGN UP PAGE STYLES*/
.signUpContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}

/*LOG IN PAGE STYLES*/
.logInContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}

/*ABOUT US STYLES*/
.aboutUsContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}


/*PRODUCTS STYLES*/
.dividerContainer{
    display: flex;
    flex-direction: row;
}
.searchBarContainer{
    width:20%;
    height:500px;
    margin-left:1%;
    padding-left:1%;
    margin-top:54px;
    position:fixed;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.searchBarContainer button{
    background-color:#95C5AB;
    border-width: 0;
    border-radius: 10px;
    width:100%;
    
    
}
.searchBarContainer input{
    
    border-width: 1;
    border-radius: 5px;
    width:100%;
    display: flex;
    
}
.searchBar{
    display: flex;
    flex-direction: row;
    height:30px;
}
.searchBar input{
    display: flex;
}
.searchBar button{
    display:flex ;
    width:15%;
    align-items: center;
}
.searchFilter button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchFilter button:hover{
    margin-top: 9px;
    margin-bottom: 9px;
    border: solid #95C5AB 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #95C5AB;
    font-weight: bold;
}

.productsContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    width:60%;
    /*background-image: url(./media/homebg.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;

}
.productImg img{
    width:200px;
    height:200px;
    display: flex;

}
.productDesc{
    display: flex;
    flex-direction: column;
}
.productDesc p{
    display: flex;
}
.productIndiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:6px;
    background-color: white;
    border-width: 0;
}
.productIndiv:hover{
    border: solid #95C5AB 1px;
    border-radius: 5px;
    margin:5px;
    box-shadow: 2px 2px 5px #95C5AB;
}
.listContainer{
    width:20%;
    height:500px;
    margin-right:10px;
    
    margin-top:60px;
    display: flex;
    position: fixed;
    right:0;
    top:60;
    flex-direction: column;
}