

/*NAVBAR STYLES*/
.navBar{
    background-color: #012001;
    top:0;
    width:100%;
    
    display: flex;
    justify-content: center;
    
    
}
.navItems{
    display: inline-flex;
    flex-direction: row;
    gap:6rem;
    
    
}
.navItems li{
    list-style: none;
    text-decoration: none;
    color: #95C5AB;
}
.navItems li a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    text-align: center;
    color: #95C5AB;
    
}

/*   HOMEPAGE STYLES*/


.mainContainer{
    
    background-color: #fefae0;
}

.headerContainer{
    background-image: url(./media/storebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    justify-content: center;
    display: flex;
}
.homepageContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
   
    
    display: flex;
    
    
}
.gridContainer{
    display: flex;
    flex-direction: column ;
    margin-left: 20%;
    margin-right: 20%;
}
.grid{
    display: flex;
    flex-direction: row;
    align-items: center;       /* vertically align image + text */
    gap: 2rem;                 /* space between image and text */
    
    
}
.grid img{
    width:50%;
    height:50%;
    border: 2px solid #012001;
    border-radius: 1000px;
    margin-top: 200px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@600&display=swap');
.grid p{
    color:#012001;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    font-size: xx-large;
    letter-spacing: 0.7px;
}

.homeImg4 img{
    width:100%;
    height:100%;
   
}
.titleText p{
    justify-content: center;
    display: flex;
    font-size: 30px;
    
}
.whiteText{
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    color:#fefae0;
    padding-left: 100%;
    padding-right: 100%;
    margin-top: 4px;
    padding-top:40px;
    
    
}
.menuText{
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    color:#fefae0;
    position: fixed;
    left: 5%;
    top:3%;
    border: none;
    background: none;
    
}
.sideNavbar{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  color: #012001;
  z-index: 991;
  padding: 20px;
 
}
.sideNavbar li{
    list-style: none;
    margin-bottom: 1rem;
}
.sideNavbar a{
    text-decoration: none;
    font-family: 'Raleway' sans-serif;
    font-size:25px;
    color: #012001;
    font-weight: 500;
}
.sideNavbar a:hover{
    /*background-color: #012001;
    color:#fefae0 ;*/
    text-decoration: underline;
}


.scrollingContainer{
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top:50px;
   
    z-index: 900;
    background-color: #012001; /* optional */
}
.scrollText{
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scrollText1 15s linear infinite;
    color: white;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
@keyframes scrollText1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }}
.slideShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#32746D ;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
.shopQuick{
    display: flex;
    flex-direction: column;
    padding-left:10% ;
    padding-right:10% ;
    height: 300px;
}

.shopQuick button{
    display: flex;
    justify-content: center;
    background-color: rgb(16, 90, 16);
    border-radius: 20px;
    height:50px;
    
    
}
.shopQuick button span{
    display: flex;
    justify-content: center;
    color: #fefae0;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif ;
    
}
.shopQuick span{
    display: flex;
    justify-content: center;
    color: #fefae0;
    
}
.signUp{
    height: 200px;
}

.footerContainer{
    height: 110px;
    background-color: #012001;
}
/*MY PROFILE STYLES*/

.profileContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.signInStatus{
    justify-content: center;
    display: flex;
    color: white;
    font-size: xx-large;
}
.signUp{
     justify-content: center;
    display: flex;
    color: white;
    font-size: xx-large;
}
/*SIGN UP PAGE STYLES*/
.signUpContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}

.signUpContainer form input{
    justify-content: center;
    display: flex;
    align-items: center;
    
}

/*LOG IN PAGE STYLES*/
.logInContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.logInContainer form input{
    justify-content: center;
    display: flex;
    align-items: center;
}

/*ABOUT US STYLES*/
.aboutUsContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    background-image: url(./media/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}


/*PRODUCTS STYLES*/
.mainContainerProducts{
    background-color: #fefae0;
}
.dividerContainer{
    display: flex;
    flex-direction: row;
}
.searchBarContainer{
    width:20%;
    height:500px;
    margin-left:1%;
    padding-left:1%;
    margin-top:54px;
    position:fixed;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.searchBarContainer button{
    background-color:#012001;
    border-width: 0;
    border-radius: 10px;
    width:100%;
    
    
}
.searchBarContainer input{
    
    border-width: 1;
    border-radius: 5px;
    width:100%;
    display: flex;
    
}
.searchBar{
    display: flex;
    flex-direction: row;
    height:30px;
}
.searchBar input{
    display: flex;
}
.searchBar button{
    display:flex ;
    width:15%;
    align-items: center;
}
.searchFilter button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchFilter button:hover{
    margin-top: 9px;
    margin-bottom: 9px;
    border: solid #012001 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #012001;
    font-weight: bold;
}

.productsContainer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    width:60%;
    /*background-image: url(./media/homebg.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;

}
.productImg img{
    width:200px;
    height:200px;
    display: flex;

}
.productDesc{
    display: flex;
    flex-direction: column;
}
.productDesc p{
    display: flex;
}
.productIndiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:6px;
    background-color: white;
    border-width: 0;
}
.productIndiv:hover{
    border: solid #012001 1px;
    border-radius: 5px;
    margin:5px;
    box-shadow: 2px 2px 5px #012001;
}
.listContainer{
   
    width:20%;
    height:500px;
    margin-right:10px;
    background-color: #012001;
    margin-top:60px;
    display: flex;
    position: fixed;
    right:0;
    top:60;
    flex-direction: column;
}
.listContainer li{
    display: flex;
    flex-direction: row;
    color:white
}
.listContainer li button{
    background-color: white;
    border: 0px;
    border-radius: 20%;
    height:30px;
    align-content: center;
}
.counter{
    padding-right: 3px;
}
.menuButtonStyle{
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    color:#012001;
    position: fixed;
    left: 5%;
    top:5%;
    border: none;
    background: none;
}